body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar_container{
  border-style: solid;
  border-color: aqua;
  border-radius: 5px;
  padding: 5px;
  margin: 20px;
  box-shadow: 5px 5px rgba(213, 214, 212, 0.2);
  height: 100px;
  text-decoration: none;
}

.navbar_ul{
  text-decoration: none;
}

.search_bar{
  border-style: solid;
  border-color: aqua;
  border-radius: 5px;
  padding: 5px;
  margin: 20px;
  height: 50px;
  box-shadow: 5px 5px rgba(213, 214, 212, 0.2);
}

.hotel_container{
  border-style: solid;
  border-color: aqua;
  border-radius: 5px;
  padding: 5px;
  margin: 20px;
  height: 50px;
  box-shadow: 5px 5px rgba(213, 214, 212, 0.2);
}

.hotel_div{
  border-style: solid;
  padding: 5px;
  margin: 10px;
}

.search_form{
  display: flex;
  flex-direction: row;
}

.profile_bookings_container{
  border-style: solid;
  display: flex;
  justify-content: space-between;
  
}

.individual_bookings{
  width: 33%;
  padding: 10px;
  background-color: aliceblue;
}


